.large-hero {
  position: relative;

  &__text-content {
    padding-top: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: white;

    /*@mixin atMedium {
      padding-top: 60px;
    }*/
  }

  &__title {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1.3rem;
    max-width: 14rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atMedium {
      font-size: 2rem;
      margin-bottom: 2.5rem;
      max-width: none;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    margin: 0 0 3rem 0;

    @mixin atMedium {
      font-size: 4.125rem;
      margin: 0 0 4.375rem 0;
    }
  }
}


  
  